* {
    font-family: Cambria, Times New Roman;

}

header {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

header h1{
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(18, 112, 132);
    padding: 10px 20px 10px 20px;
}

header h1:nth-child(2){
    font-size: 200%;
    font-style: italic;
    letter-spacing: normal;
    text-transform: none;
}

.row{
    height: 600px;
}

td {
    border: 1px solid #000;
}